doctype html 
html 
    head(lang='en') 
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            meta(http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval' 'self'; script-src * 'unsafe-inline' 'unsafe-eval' blob:; img-src * 'self' data: blob:;")
            title Natours | #{title} 
            //-link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/x-icon' href='/img/favicon.png')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    body 
        // Header
        include _header.pug

        // Content
        block content
            h1 Base Template

        // Footer
        include _footer.pug


        //-script(src='../dist/main.js')
        script(scr='https://js.stripe.com/v3/')
        //-script(src='/js/signup.js')
        //-script(src='/js/login.js')
        //-script(src='/js/bundle/index.js')